.containerCenter {
  display: flex;
  width: 70vw;
  margin: 3.5rem auto !important;
  justify-content: space-evenly;
  flex-direction: column;
}

.containerHeader {
  .scheduleTitle {
    color: var(--purple);
    font-weight: 700;
    font-size: 1.8rem;
  }
}
.containerUp,
.containerDown {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.containerUp {
  margin-top: 1rem;
  height: 11.5rem;
}

.containerDown {
  margin-top: 2rem;
  height: 15rem;
  gap: 3%;
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(25% - 1.5rem);
  gap: 1rem;
  border-radius: 1.25rem;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  .boxText {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h3 {
      color: var(--blue);
    }
  }
}

.circle {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--gray-300);
  height: 5rem;
  width: 5rem;
}

.containerChart {
  width: 42.5rem;
  gap: 1rem;
  border-radius: 1.25rem;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.boxList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  flex: 1;
  width: 80%;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.containerList {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 22.5rem;
  gap: 1rem;
  border-radius: 1.25rem;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-height: max-content;
  scrollbar-width: 0;
  position: relative;
  padding-bottom: 1.5rem;
}

.listTitle {
  border-radius: 1.25rem;
  background: #fff;
  align-items: center;
  justify-content: center;
  min-height: 1rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: flex-start;

  h3 {
    margin-top: 1rem;
    color: var(--purple);
  }
}

.btnList {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5%;
  bottom: 5%;
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-5px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-5px); }
}