.containerCenter {
  width: 70vw;
  margin: 0.3rem auto 2rem !important;
  justify-content: space-evenly;

  button {
    all: inherit;
    cursor: pointer;
  }

  .select {
    margin-top: 1rem;
    float: right;
  }
}

.headerProfile {
  width: 100%;
  display: flex;
  position: relative;
  height: 280px;

  .likes {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white);
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;

    span {
      margin-left: 5px;
    }
  }

  .avatar {
    position: absolute;
    bottom: 0;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);

    .info {
      margin: 0 0 1rem 1rem;
      display: flex;
      justify-content: center;
      flex-direction: column;

      input {
        all: unset;

        &::placeholder {
          color: var(--gray-400);
        }
      }

      .inputName {
        font-size: 25px;
        font-weight: bold;
      }

      .inputAdress {
        font-size: 15px;
        font-weight: bold;
      }
    }
  }

}

.labelBanner {
  border-radius: 3rem;
  width: 100%;
  height: 280px;
  background-color: var(--gray-300);
}

.labelAvatar {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: var(--gray-400);
}

.labelBanner,
.labelAvatar {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  input {
    display: none;
  }

  label {
    z-index: 99;
    position: absolute;
    opacity: 0.7;
    transition: all 0.2s;

    &:hover {
      opacity: 1;
      transform: scale(1.2);
    }
  }
}

.bannerPreview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3rem;
}

.avatarPreview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.select {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 15rem;
  padding: 0.5rem 4rem 0.5rem 0.5rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--dark-blue) 3em, var(--other-red) 3em);
  color: var(--white);
  font-weight: bold;
  border-radius: 0.5em;
  cursor: pointer;

  &::-ms-expand {
    display: none;
  }

  &:focus {
    outline: none;
  }

  option {
    color: #000;
  }
}

.menuServices {
  display: flex;
  margin-top: 4rem;
  max-width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 1rem 0;
}

.addService {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 15rem;
  height: 12rem;
  cursor: pointer;

  button {
    all: inherit;
    cursor: pointer;
  }

  .plusDiv {
    background: var(--gray-300);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 90%;
    border-radius: 2rem;
    transition: all 0.2s;

    button {
      height: 100%;
      width: 100%;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  span {
    margin-top: 0.5rem;
    font-weight: 700;
  }
}

.image {
  cursor: pointer;

}

.menuTime {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    color: var(--purple);
  }

  .timesDiv {
    background: var(--purple);
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: 40rem;
    border-radius: 1rem;
    flex-direction: column;

    .time {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      padding: 1rem;

      .timeRight {
        margin-top: 2rem;
      }

      h3 {
        margin-bottom: 0.5rem;
        color: var(--white);
        text-align: center;
      }

      .bgClock {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);
        border-radius: 0.3rem;
        background: rgba(255, 255, 255, 0.28);
        outline: none !important;
        color: white;
        border: 2px solid white;

        input {
          color: white !important;
          font-weight: 700;
        }
      }
    }
  }
}

.editAvatar,
.editBanner {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  input {
    display: none;
  }

  label {
    z-index: 99;
    position: absolute;
    opacity: 0;
    transition: all 0.2s;
    margin-top: 5px;
    margin-right: 6.5px;

    &:hover {
      opacity: 1;
      transform: scale(1.2);
    }
  }
}

.editAvatar {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: var(--gray-400);
}

.editBanner {
  border-radius: 3rem;
  width: 100%;
  height: 280px;
  background-color: var(--gray-300);
}

.btnEditProfile {
  display: flex;
  justify-content: end;
  margin-bottom: 0.5rem;

  .btnEdit {
    background: var(--other-red);
    border: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 50%;
    transition: all 0.1s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.07);
    }
  }

}

.btnEditDisabled {
  display: none;

  .imgEditProfile {
    display: none;
  }
}

.btnProfileChanges {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 3rem;
  gap: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding: 5px 6%;

  .btnConfirm {
    background: #2F317C;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    border: 1px solid #2F317C;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background: #4549b2;
      border: 1px solid #4549b2;
    }
  }

  .btnCancel {
    border: 1px solid var(--red);
    color: var(--red);
    border-radius: 5px;
    font-weight: 500;
    transition: 0.3s ease;
    cursor: pointer;

    &:hover {
      background: var(--red);
      color: white;
    }
  }
}

.DownArrow {
  display: flex;
  align-items: center;
  justify-content: end;

  .btnDownArrow {
    padding: .85rem;
    display: flex;
    align-items: center;
    justify-content: end;
  }
}

.disableLabel {
  display: none;
}

.weekDaysText {
  color: #fff;
  margin-top: 1rem;
}

.weekDaysCheck {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10%;

  .containerCheckbox {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-bottom: 1px solid var(--other-red);
  }

  .containerCheckboxDisable {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
    label {
      color: var(--gray-400);
    }

    :hover {
      color: #fff;
      border-bottom: 1px solid var(--other-red);
    }
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.divHours {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}

.useHour {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.checkboxCompany {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  p {
    color: white;
    font-size: 1.2em;
    font-weight: 600;
  }
}