.containerCenter {
  display: flex;
  width: 70vw;
  margin: 3.5rem auto !important;
  justify-content: space-evenly;
  flex-direction: column;
}

.containerTop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  p {
    color: var(--dark-blue);
    text-shadow: 0px 14px 24px #fff;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0;
  }

  .btnNew {
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    background: var(--other-red);
    width: auto;
    padding: 10px;
    border-radius: 0.5rem;
    color: #fff;
    width: 100px
  }
}
