@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

:root {
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --white: #f3f0f0;
  --gray: #ece5e5;
  --gray-400: #A8A8A8;
  --gray-300: #dad4d4;
  --red: #c31c5a;
  --blue: #4267b2;
  --purple: #2F317C;

  --dark-blue: #1f2041;
  --other-red: #e83f5b;
}

button {
  cursor: pointer;
  all: inherit;
}

a {
  text-decoration: none;
}

body {
  background: var(--white);
}

.css-knqc4i-MuiDialogActions-root {
  display: none !important;
}

.css-1eurbeq-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
  height: 3rem;
}

.MuiPickersLayout-root {
  border-radius: 8px 8px 0px 0px;
  filter: drop-shadow(16px 4px 8px rgba(0, 0, 0, 0.08));
}

.css-1eurbeq-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
  background: var(--other-red);
  color: var(--white);
}

.css-1t0788u-MuiPickersSlideTransition-root-MuiDayCalendar-slideTransition {
  font-weight: bold !important;
}

.MuiTypography-root {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

.css-3jvy96-MuiTypography-root-MuiDatePickerToolbar-title {
  display: none;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background: var(--other-red) !important;
}
.css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background: var(--other-red) !important;
}

.css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
  background: var(--other-red) !important;
}

.css-1t0788u-MuiPickersSlideTransition-root-MuiDayCalendar-slideTransition {
  min-height: 200px !important;
}

.css-1hbyad5-MuiTypography-root {
  display: none !important;
}

.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel {
  font-weight: bold !important;
}

.css-16b5y55-MuiPickersLayout-contentWrapper {
  height: 250px;
}
.css-1q04gal-MuiDateCalendar-root {
  height: auto;
}
.css-nk89i7-MuiPickersCalendarHeader-root{
  display: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--gray-300); 

  &:hover{
    background: var(--gray-400); 
  }
}

.p-inputtext .p-component .p-inputnumber-input .p-inputnumber-input {
  border: none !important;
}