.containerCenter {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  filter: drop-shadow(20px 15px 8px rgba(0, 0, 0, 0.2));
  width: 500px;

  button {
    all: inherit;
    cursor: pointer;
  }
}

.containerHeader {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2f317c;
  border-radius: 5px 5px 0 0;

  p {
    font-size: 1.3rem;
    color: var(--white);
    font-weight: 500;
  }
}

.containerForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 8px;
  padding: 0 2rem 2rem 2rem;

  .allInput {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #2f317c;
    font-size: 1rem;
    padding: 1rem;
    color: rgb(36, 34, 34);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    .input {
      all: unset;
      flex: 1;
    }
  }

  label {
    color: #1f2041;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: flex-start;
    margin-bottom: 8px;
    margin-left: 8px;
  }

  form {
    width: 95%;
    display: flex;
    flex-direction: column;
    font-weight: 500;
  }
}

.containerButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding: 5px;

  .btnCancel {
    border: 1px solid var(--red);
    color: var(--red);
    border-radius: 5px;
    font-weight: 500;
    transition: 0.3s ease;

    &:hover {
      background: var(--red);
      color: white;
    }
  }

  .btnConfirm {
    background: #2f317c;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    border: 1px solid #2f317c;
    transition: filter 0.3s ease;

    &:hover {
      filter: brightness(1.2);
    }

    &:disabled {
      pointer-events: none;
      touch-action: none;
      background-color: gray;
      border: 1px solid gray;
    }
  }
}

.time {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

  h3 {
    margin-bottom: 0.5rem;
    color: var(--dark-blue);
    text-align: center;
  }

  .bgClock {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    border-radius: 0.3rem;
    background: rgba(255, 255, 255, 0.28);
    outline: none !important;
    color: var(--dark-blue);
    border: 2px solid var(--dark-blue);

    input {
      color: var(--dark-blue) !important;
      font-weight: 700;
      cursor: pointer;

      &:disabled {
        cursor: no-drop;
      }
    }
  }
}

.weekDaysCheck {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10%;

  .containerCheckbox {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-bottom: 1px solid var(--other-red);
  }

  .containerCheckboxDisable {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
    label {
      color: var(--dark-blue);
      cursor: pointer;
    }

    :hover {
      color: var(--purple);
      border-bottom: 1px solid var(--other-red);
    }
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--dark-blue);
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.checkboxCompany {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: .5rem;

  .textChecked {
    color: var(--dark-blue);
  }

  .textNotChecked {
    color: #A8A8A8;
  }

  .btnChecked {
    color: var(--dark-blue);

    &:disabled {
      color: var(--gray-400);
      cursor: no-drop;
    }
  }

  p {
    color: var(--dark-blue);
    font-size: 1.2em;
    font-weight: 600;
  }
}

.useHour {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}