.headerContainer {
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;

}

.headerContent {
    max-width: 1120px;
    height: 5rem;
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        cursor: pointer;
    }

}

.navMenu {
    display: flex;
    align-items: center;
    gap: 2rem;
    
    p{
        color: var(--dark-blue);
        padding: 0 0.5rem;
        display: inline-block;
        position: relative;
        transition: all 0.3s ease;
        font-size: 1.2rem;
        font-weight: 600;

        &:hover{
            color: var(--other-red);
        }
    }
    .focus{
        color: var(--other-red);
    }
}